<footer>
    <div class="footer-div">
        <div class="contactus">
            <img style="width: 100px;" src="Untitled-21.png" alt="">

            <p> Lorem ipsum dolor, sit a Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque quisquam ipsa eligendi facere quod et aspernatur ad expedita, itaque corporis debitis dolore neque voluptate harum illum nam soluta possimus odit? met
                consectetur adipisicing elit. Quisquam soluta ipsa fuga expedita? Quisquam illum sequi sit accusantium fugit, aut iure adipisci, illo ullam deleniti dolores natus delectus, perspiciatis quo.</p>

            <!-- <ul class="sci">
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/facebook-4-xxl.png' alt=""></a>
                    </li>
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/github-11-xxl.png' alt=""></a>
                    </li>
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/google-plus-xxl.png' alt=""></a>
                    </li>
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/linkedin-6-xxl.png' alt=""></a>
                    </li>
                </ul> -->

        </div>
        <div class="contactus">
            <h2> contact us </h2>
            <!-- <p>LTUC</p>
            <p><img style="height: 10px;" src="https://www.flaticon.com/svg/vstatic/svg/1216/1216719.svg?token=exp=1618221823~hmac=d7abeb3aebcf6b13abeea58a3dafa641" alt=""> P.O.Box 3030, AMMAN 22110, Jordan</p>
            <p><img style="height: 10px;" src="https://www.flaticon.com/svg/vstatic/svg/455/455705.svg?token=exp=1618222026~hmac=1636294d35e3225cbc9093608f544295" alt=""> : + 962 (0) 2 7201000</p>
            <p><img style="height: 10px;" src="https://www.flaticon.com/svg/vstatic/svg/732/732200.svg?token=exp=1618222332~hmac=17fd8db63cfaf556e66b4d66c56d3671" alt="">  : public@ltuc.edu.jo</p>
            <p><img style="height: 10px;" src="https://www.flaticon.com/svg/vstatic/svg/1216/1216719.svg?token=exp=1618221823~hmac=d7abeb3aebcf6b13abeea58a3dafa641" alt="">Amman, Airport Road, Al-Hamam Bridge</p>
            <p><img style="height: 10px;" src="https://www.flaticon.com/svg/vstatic/svg/890/890547.svg?token=exp=1618222432~hmac=3291ffdf5f2ef9d80464ba0c42ceac13" alt="">0096264000700</p>
            <p><img style="height: 10px;" src="https://www.flaticon.com/svg/vstatic/svg/174/174851.svg?token=exp=1618222479~hmac=aa198137b43ee00fd59435b5ce338b56" alt="">info@ltuc.com</p> -->
            <ul class="sci">
                <li>
                    <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/facebook-4-xxl.png' alt=""></a>
                </li>
                <li>
                    <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/github-11-xxl.png' alt=""></a>
                </li>
                <li>
                    <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/google-plus-xxl.png' alt=""></a>
                </li>
                <li>
                    <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/linkedin-6-xxl.png' alt=""></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="cpayright">
        <p>Copyright &copy;. All Right Reserved.</p>
    </div>
</footer>