<footer>
    <div class="footer-div">
        <div class="contactus">
            <img style="width: 100px;" src="../logo.png" alt="">

            <p> Hey there! Welcome to our website :) Quoti is a web app built in Node.JS to offer you an easy to use platform for browsing your favorite author's quotes and get your inspiration of the day! We are a group of web developers who are very fond
                of building web apps! This project was conducted for a software development program we enrolled ourselves in. You can check our other projects in our GitHubs! Please let us know of any feedback you have in mind, we love to keep making
                this platform more and more of your like and convenience. :)</p>

            <!-- <ul class="sci">
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/facebook-4-xxl.png' alt=""></a>
                    </li>
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/github-11-xxl.png' alt=""></a>
                    </li>
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/google-plus-xxl.png' alt=""></a>
                    </li>
                    <li>
                        <a href="#"></i><img src='https://www.iconsdb.com/icons/preview/white/linkedin-6-xxl.png' alt=""></a>
                    </li>
                </ul> -->

        </div>
        <div class="contactus">
            <h2> Contact Us </h2>
            <ul class="sci">
                <li>
                    <a href="#"></i><img src='../facebook-4-xxl.png' alt=""></a>
                </li>
                <li>
                    <a href="#"></i><img src='../github-11-xxl.png' alt=""></a>
                </li>
                <li>
                    <a href="#"></i><img src='../google-plus-xxl.png' alt=""></a>
                </li>
                <li>
                    <a href="#"></i><img src='../linkedin-6-xxl.png' alt=""></a>
                </li>
            </ul>
        </div>

    </div>
    <div class="cpayright">
        <p>Copyright &copy;. All Right Reserved.</p>
    </div>
</footer>