<nav>
    <div class="logo">
        <img src="Untitled-21.png" alt="logo">
    </div>
    <label for="btn" class="icon">
     <span class="fa fa-bars"></span>
     </label>
    <input type="checkbox" id="btn">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Quotes</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="#">About us</a></li>
    </ul>
</nav>
