<header>
    <nav>
        <img src="" alt="LOGO" id="logo">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="quote">QUOTE</a></li>
            <li><a href="FAVORET">FAVORET</a></li>
            <li><a href="/aboutus">ABOUT US</a></li>
        </ul>
    </nav>
</header>