<nav>
    <div class="logo">
        <img src="../logo.png" alt="logo">
    </div>
    <label for="humIcon" class="icon">
     <span class="fa fa-bars"></span>
     </label>
    <input type="checkbox" id="humIcon">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="<%= qPage%>">Quotes</a></li>
        <li><a href="<%= fPage%>">Favorite</a></li>
        <li><a href="<%= aPage%>">About us</a></li>
    </ul>
</nav>