<form action="/search" method="get">
    <legend>search </legend>
    <input type="text" name="search" placeholder="Entar Author or category" required>
    <!-- <input type="number" name="search" min="1"> -->
    <label>Author</label>
    <input type="radio" name="searchType" value="author">
    <label>Category</label>
    <input type="radio" name="searchType" value="tag">
    <input type="submit">
</form>