<!DOCTYPE html>
<html>
  <%- include('partials/head',{page_title: 'about' }) %>


<body>

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="#" alt="Reema" style="width:100%">
      <div class="container">
        <h2>Reema Eilouti</h2>
        <p class="title">web developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>reema.eilouti@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="#" alt="Mohammad" style="width:100%">
      <div class="container">
        <h2>Mohammad Momani</h2>
        <p class="title">web developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mkhm.work@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="img/eid.png" alt="Eid" style="width:100%">
      <div class="container">
        <h2>Eid Sukariah</h2>
        <p class="title">web developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>iameidsukariah@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="#" alt="Layan" style="width:100%">
      <div class="container">
        <h2>Layan Aboshaweesh</h2>
        <p class="title">web developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>layan_abushaweesh99861096@yahoo.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

<div class="column">
    <div class="card">
      <img src="#" alt="Noor" style="width:100%">
      <div class="container">
        <h2>Nour Eddein</h2>
        <p class="title">web developer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>noureddein@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
</body>
</html>
