<!DOCTYPE html>
<html>
<%- include('partials/head',{page_title: 'about' }) %>

    <body id="body">
        <%- include('partials/header',{qPage : '/quote' ,fPage:'/favorite',aPage:'#'}) %>

            <div class="about-section">
                <h1>About Us Page</h1>
                <p class="our">Some text about who we are and what we do.</p>
                <p class="our">Resize the browser window to see that this page is responsive by the way.</p>
            </div>

            <div class="row">

                <div class="column">
                    <div class="card">
                        <img src="/reema.png" alt="Reema" id="imge">
                        <div id="containerrr">
                            <h2>Reema Eilouti</h2>
                            <p class="title">Network Engineer</p>
                            <p>Love making web apps and my favorite language is Python!</p>

                            <div class="share-button">
                                <span>Contact</span>
                                <a href="#"><i class="fab fa-facebook-f"></i><img src="/facebook-circle-fill.png"></a>
                                <a href="https://github.com/reema-eilouti"><i class="fab fa-twitter"></i><img src="/github-fill.png"></a>
                                <a href="https://www.linkedin.com/in/reema-eilouti"><i class="fab fa-instagram"></i><img src="/linkedin-box-fill.png"></a>
                                <a href="reema.eilouti@gmail.com"><i class="fab fa-linkedin-in"></i><img src="/mail-line.png"></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img id="imge" src="/mohammad.jpg" alt="Mohammad">
                        <div id="containerrr">
                            <h2>Mohammad Momani</h2>
                            <p class="title">Software Engineer</p>
                            <p>Fond of everything coding/programming and I edit photos/ design illustrations for a hobby!</p>

                            <div class="share-button">
                                <span>Contact</span>
                                <a href="https://www.facebook.com/MohammadMomani1996/"><i class="fab fa-facebook-f"></i><img src="/facebook-circle-fill.png"></a>
                                <a href="https://github.com/M7madMomani2"><i class="fab fa-twitter"></i><img src="/github-fill.png"></a>
                                <a href="https://www.linkedin.com/in/mohammad-khaldun-7000b41b1/"><i class="fab fa-instagram"></i><img src="/linkedin-box-fill.png"></a>
                                <a href="mkhm.work@gmail.com"><i class="fab fa-linkedin-in"></i><img src="/mail-line.png"></a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img id="imge" src="/eid.jpg" alt="Eid">
                        <div id="containerrr">
                            <h2>Eid Sukariah</h2>
                            <p class="title">Mechanical Engineer</p>
                            <p>I Love developing web apps as a hobby and I'm very talented in web design!</p>

                            <div class="share-button">
                                <span>Contact</span>
                                <a href="https://web.facebook.com/eid.sukariah"><i class="fab fa-facebook-f"></i><img src="/facebook-circle-fill.png"></a>
                                <a href="https://github.com/eid-sukariah"><i class="fab fa-twitter"></i><img src="/github-fill.png"></a>
                                <a href="https://www.linkedin.com/in/eid-sukariah-27339219a/"><i class="fab fa-instagram"></i><img src="/linkedin-box-fill.png"></a>
                                <a href="iameidsukariah@gmail.com"><i class="fab fa-linkedin-in"></i><img src="/mail-line.png"></a>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="card">
                        <img id="imge" src="/layan.png" alt="Layan">
                        <div id="containerrr">
                            <h2>Layan Aboshaweesh</h2>
                            <p class="title">Mechatronics Engineer</p>
                            <p>Interested in the academic field and I build web applications to help guide a better way in education!</p>

                            <div class="share-button">
                                <span>Contact</span>
                                <a href="https://www.facebook.com/layan.a.shaweesh/"><i class="fab fa-facebook-f"></i><img src="/facebook-circle-fill.png"></a>
                                <a href="https://github.com/layanabushaweesh "><i class="fab fa-twitter"></i><img src="/github-fill.png"></a>
                                <a href="https://www.linkedin.com/in/layan-abu-shaweesh/ "><i class="fab fa-instagram"></i><img src="/linkedin-box-fill.png"></a>
                                <a href="layan_abushaweesh@yahoo.com"><i class="fab fa-linkedin-in"></i><img src="/mail-line.png"></a>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="card">
                        <img id="imge" src="/noor.jpg" alt="Noor" style="width:100%">
                        <div id="containerrr">
                            <h2>Nour Eddein</h2>
                            <p class="title">Civil Engineer</p>
                            <p>Software development is a field of interest to me, I love proramming and building websites!</p>

                            <div class="share-button">
                                <span>Contact</span>
                                <a href="https://www.facebook.com/noureddein1/"><i class="fab fa-facebook-f"></i><img src="/facebook-circle-fill.png"></a>
                                <a href="https://github.com/noureddein"><i class="fab fa-twitter"></i><img src="/github-fill.png"></a>
                                <a href="https://www.linkedin.com/in/noureddein"><i class="fab fa-instagram"></i><img src="/linkedin-box-fill.png"></a>
                                <a href="noureddein@gmail.com"><i class="fab fa-linkedin-in"></i><img src="/mail-line.png"></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <%- include('partials/footer') %>
    </body>

</html>