<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{page_title: 'Home' }) %>

    <body>
        <header>
            <%- include('partials/header',{qPage : '/quote' ,fPage:'/favorite',aPage:'/about-us'}) %>
        </header>
        <main>

        </main>
        <%- include('partials/footer') %>
    </body>

</html>