<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{page_title: 'Home' }) %>

    <body>
        <%- include('partials/header') %>
            <main>
                <form action="/quote" method="GET">
                    </legend>search<legend>
                        <input type="text" name="search" placeholder="Author Name" required>
                        <input type="number" name="search" min="1">
                        <input type="submit">
                </form>
            </main>
            <%- include('partials/footer') %>
    </body>

</html>