<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{page_title: 'Home' }) %>

    <body>
        <header>
            <%- include('partials/header',{qPage : '/quote' ,fPage:'/favorite',aPage:'/about-us'}) %>
        </header>

        <main>
            <img id="imgbox" src="cover.jpg" alt="">
            <div class="intro">
                <div class="text">
    
                    <h2> QUOTES </h2>
                    <hr>
                    <p> A quotation is the repetition of a sentence, phrase, or passage from speech or text that someone has said or written. And to us quotes are one of the highest compliments we can pay an author :) As the saying goes: "You will die but
                        the words you spoke will forever live." Sometimes we may feel that we don't get the entire value of an experience until it becomes a memory and we saw that as an opportunity to title that memory with written words, and what's better than
                        quotes!</p>
    
                </div>
                <img src="undraw_Work_chat_re_qes4.png" alt="" id="img-intro">
    
            </div>
            <div class="intro">
                <img src="undraw_My_universe_re_txot.png" alt="" id="img-intro">
                <div class="text">
    
                    <h2> Why Quoti</h2>
                    <hr>
                    <p>We at Quoti believe that a daily dose of inspiration can make a great turn of your day and even how you see your life entirly! We all can sometimes feel dicouraged doing the things we do routinely and thus a dash of goodness in your day may
                        fuel you to get past what you're dealing with =] And finally, we'd like to remind you that you're never too old or too young to start working on a goal of yours, your dreams are all valid and the sky is the limit!</p>
                        </div>
            </div>
        </main>

        <%- include('partials/footer') %>

        <script>
            $('.icon').click(function() {
                $('span').toggleClass("cancel");
            });
        </script>
    </body>

</html>