@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}

#imgbox {
    margin: 0 auto;
    width: 100%;
    border-bottom: 3px solid #94145b;
}

body {
    background: #f2f2f2;
}


/* header */

nav {
    background: #ffffff;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo img {
    float: left;
    padding-left: 60px;
    margin: 13px;
    height: 41px;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #ffffff;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: #94145b;
    border-radius: 5px;
    box-shadow: 0 0 5px #94145b, 0 0 10px #94145b;
}

nav ul ul li a:hover {
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #94145b;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 150px;
}

.show,
.icon,
#humIcon {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

@media all and (max-width: 968px) {
    nav .logo img {
        float: left;
        padding-left: 60px;
        margin: 13px 5px;
        height: 41px;
    }
    nav ul {
        margin-right: 0px;
        float: left;
    }
    nav .logo {
        padding-left: 30px;
        width: 120px;
    }
    .show+a,
    ul {
        display: none;
    }
    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
        text-align: center;
    }
    nav ul li a:hover {
        box-shadow: none;
    }
    .show {
        display: block;
        color: rgb(0, 0, 0);
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show:hover {
        color: #94145b;
    }
    .icon {
        display: block;
        color: rgb(0, 0, 0);
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
    }
    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    nav ul ul a {
        padding-left: 40px;
    }
    nav ul ul ul a {
        padding-left: 80px;
    }
    nav ul ul ul li {
        position: static;
    }
    [id^=btn]:checked+ul {
        display: block;
    }
    nav ul ul li {
        border-bottom: 0px;
    }
    span.cancel:before {
        content: '\f00d';
    }
}

.content {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header {
    font-size: 35px;
    font-weight: 600;
    padding: 10px 0;
}

p {
    font-size: 10px;
    font-weight: 500;
}


/* main  */

.text {
    padding: 20px 36px;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    width: 50vw;
}

.text h2 {
    color: #000;
    text-align: center;
    margin-top: 10px;
}

.text p {
    color: #000;
    text-align-last: center;
    font-size: medium;
    padding: 16px 44px;
    line-height: 1.6;
}

.text hr {
    margin: 0 auto;
    width: 85px;
    background-color: #9a144f;
    height: 1px;
    border: none;
    margin-bottom: 11px;
}

.intro {
    background-color: white;
    display: flex;
    margin: 3% auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

#img-intro {
    width: 50vw;
    align-self: center;
    height: min-content;
}


/* footer */

.footer-div {
    display: flex;
    place-content: space-evenly;
    background-color: white;
    border-top: outset;
    text-align: justify;
}

.cpayright {
    justify-content: center;
}

.cpayright p {
    text-align: center;
    background-color: white;
}

.contactus2 ul {
    flex: auto;
}

.sci {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.sci li {
    list-style: none;
    margin-bottom: 10px;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #94145b;
}

.sci li a img {
    color: #fff;
    font-size: 20px;
}

.sci li img {
    width: 20px;
}

.contactus {
    margin: 0 10vw;
    width: 25%;
    margin-top: 3vh;
    text-align-last: center;
}

@media only screen and ( max-width: 968px) {
    .footer-div {
        width: 100%;
        display: flex;
        flex-flow: column;
        place-content: space-evenly;
        border-top: outset;
        text-align: justify;
        justify-content: center;
    }
    .contactus {
        width: 80%;
    }
    .text {
        width: 100%;
    }
    .intro {
        display: flex;
        flex-flow: column;
        margin: 3% auto;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    }
    #img-intro {
        width: 100%;
        height: auto;
    }
}